[Unit]
Description=Staked Relayer submitting BTC blocks to the PolkaBTC system
After=network.target

[Service]
Environment="RUST_LOG=info"
Type=simple
ExecStart=/opt/polkabtc/relayer/staked-relayer \
  --bitcoin-rpc-url http://localhost:18332 \
  --bitcoin-rpc-user rpcuser \
  --bitcoin-rpc-pass rpcpassword \
  --keyfile /opt/polkabtc/relayer/keyfile.json \
  --keyname polkabtcrelayer \
  --btc-parachain-url 'wss://beta.polkabtc.io/api/parachain' \
  --auto-fund-with-faucet-url 'https://beta.polkabtc.io/api/faucet'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
