:root {

  /* Base config */
  --base-font-size      : 18px;
  --sidebar-padding     : 0 px;
  --navbar-menu-padding : 0.5em 2em 0.5em 0.5em;
  --base-line-height    : 1.7;
  --content-max-width   : 55em;


  /* Theme and Colors */
  --primary-interlay    : #1A0A2D;
  --primary-blue        : #075ABC;
  --secondary-teal      : #1EE0D6;
  --secondary-green     : #A2E75E;
  --secondary-blue      : #3E96FF;
  --secondary-purple    : #A65AFF;
  --secondary-pink      : #DB5AAD;
  --secondary-bitcoin   : #FF9900;
  --theme-color         : var(--primary-interlay);
  --primary-blue-shade  : hsl(212, 30%, 38%);
  --hover-color         : #D3D3D3;

  /* Links */
  --link-color                        : var(--primary-blue);
  --link-text-decoration              : none;
  --link-text-decoration--hover       : underline;


  /* Sidebar */
  --sidebar-nav-link-color--active              : var(--primary-blue);
  --sidebar-nav-link-background-color--hover     : var(--hover-color);
  --sidebar-nav-link-text-decoration--hover     : none;
  --sidebar-padding                             : 0 25px;
  --sidebar-nav-strong-margin                   : 0em 0 0.5em;
  --sidebar-nav-strong-padding                  : 0.25em 0;
  --sidebar-nav-indent                          : 0.5em;
  --sidebar-nav-margin                          : 0.5rem 0 0;
  --sidebar-nav-link-margin                     : 0;
  --sidebar-nav-link-padding                    : 0;
  --sidebar-nav-link-before-margin              : 0 0.35em 0 0;

    /* Nav Headings */
  --sidebar-nav-strong-color                    : var(--primary-interlay);
  --sidebar-nav-strong-font-size                : 12px;
  --sidebar-nav-strong-font-weight              : var(--strong-font-weight);
  --sidebar-nav-strong-margin                   : 1.5em 0em;
  --sidebar-nav-strong-padding                  : 0.5em 0;
  --sidebar-nav-strong-text-transform           : uppercase;
}

.app-name-link img {
  width: 10em;
}

.markdown-section {
  margin: 0em auto 5em 5em;
}

@media screen and (max-width: 961px) {
  .markdown-section {
    margin: 0;
  }
}

.sidebar {
  font-size: 14px;
}

.docs-button {
  background-color: var(--primary-blue);
  border: none;
  color: white !important;
  text-align: center;
  text-decoration: none !important;
  display: block;
  padding: 1em 2rem;
  border-radius: var(--border-radius-m);
}

.btc-raffle-button {
  background-color: #ff9900;
  border: none;
  color: white !important;
  text-align: center;
  text-decoration: none !important;
  display: block;
  padding: 1em 2rem;
  border-radius: var(--border-radius-m);
}
 
.card {
  background-color: transparent;
  border: 1px solid var(--primary-blue);
  border-radius: var(--border-radius-m);
  padding: 1em;
  margin: 1em 0;
}


.util-w100 {
  width: 100%
}
