
:root {
  --base-font: 12px;
  --theme-color   :#1A0A2D;
  --sidebar-padding: 0 25px;
  --navbar-menu-padding: 0.5em 2em 0.5em 0.5em;
  --primary-blue: #075ABC;
  --secondary-teal: #1EE0D6;
  --secondary-green: #A2E75E;
  --secondary-blue: #3E96FF;
  --secondary-purple: #A65AFF;
  --secondary-pink: #DB5AAD;
  --secondary-bitcoin: #FF9900;
  --theme-color: var(--primary-blue);
}

.app-name-link img {
  width: 5em;
}
