[Unit]
Description=Vault servicing issue and redeem requests for Interlay
Requires=bitcoind.service
After=bitcoind.service
After=network.target

[Service]
Environment="RUST_LOG=info"
Type=simple
TimeoutStartSec=30m
ExecStartPre=/bin/sleep 5s
ExecStart=/opt/interlay/vault/vault \
  --bitcoin-rpc-url http://localhost:8332 \
  --bitcoin-rpc-user <INSERT_CUSTOM_USERNAME> \
  --bitcoin-rpc-pass <INSERT_YOUR_PASSWORD> \
  --keyfile /opt/interlay/vault/keyfile.json \
  --keyname <INSERT_YOUR_KEYNAME, example: 0x0e5aabe5ff862d66bcba0912bf1b3d4364df0eeec0a8137704e2c16259486a71> \
  --btc-parachain-url 'wss://api.interlay.io:443/parachain' \
  --auto-register=DOT=<INSERT_THE_INITIAL_COLLATERAL, minimum: 300000000000>
Restart=always
RestartSec=5
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
