[Unit]
Description=Vault servicing issue and redeem requests for interBTC
After=network.target

[Service]
Environment="RUST_LOG=info"
Type=simple
ExecStart=/opt/interbtc/vault/vault \
  --bitcoin-rpc-url http://localhost:18332 \
  --bitcoin-rpc-user rpcuser \
  --bitcoin-rpc-pass rpcpassword \
  --keyfile /opt/interbtc/vault/keyfile.json \
  --keyname interbtcvault \
  --auto-register-with-faucet-url 'https://api-testnet.interlay.io/faucet' \
  --btc-parachain-url 'wss://api-testnet.interlay.io/parachain' \
  --collateral-currency-id=KSM
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
