[Unit]
Description=Vault servicing issue and redeem requests for Kintsugi
After=network.target

[Service]
Environment="RUST_LOG=info"
Type=simple
ExecStart=/opt/kintsugi/vault/vault \
  --bitcoin-rpc-url http://localhost:8332 \
  --bitcoin-rpc-user <INSERT_CUSTOM_USERNAME> \
  --bitcoin-rpc-pass <INSERT_YOUR_PASSWORD> \
  --keyfile /opt/kintsugi/vault/keyfile.json \
  --keyname <INSERT_YOUR_KEYNAME, example: 0x0e5aabe5ff862d66bcba0912bf1b3d4364df0eeec0a8137704e2c16259486a71> \
  --auto-register-with-collateral <INSERT_THE_INITIAL_COLLATERAL, minimum: 3000000000000> \
  --btc-parachain-url 'wss://api-kusama.interlay.io:443/parachain' \
  --collateral-currency-id=KSM
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
