[Unit]
Description=Vault servicing issue and redeem requests for interBTC
After=network.target

[Service]
Environment="RUST_LOG=info"
Type=simple
ExecStart=/opt/polkabtc/vault/vault \
  --bitcoin-rpc-url http://localhost:18332 \
  --bitcoin-rpc-user rpcuser \
  --bitcoin-rpc-pass rpcpassword \
  --keyfile /opt/polkabtc/vault/keyfile.json \
  --keyname polkabtcvault \
  --auto-register-with-faucet-url 'https://beta.polkabtc.io/api/faucet' \
  --telemetry-url 'https://beta.polkabtc.io/api/telemetry' \
  --btc-parachain-url 'wss://beta.polkabtc.io/api/parachain' \
  --network=testnet
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
